.home {
  font-family: 'Inknut Antiqua', serif;
  color: #f4f4f4;
  background-color: #060505;
  
}

.hero {
  height: 100vh;
  position: relative;
  margin-top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -100px;  
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 3.5rem;
  color: #C6B251;
  margin-bottom: 1rem;
  text-shadow: #ffffff;
}

.hero-subtitle {
  max-width: 600px;
  font-size: 1.1rem;
}

.hero-buttons {
  margin-top: 1.5rem;
}
.btn-reserve {
  background: transparent;
  color: #ffffff; 
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  padding: 0.8rem 2rem;
  margin-top: 1.5rem;
}

.btn-reserve::before,
.btn-reserve::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #C6B251;
  transition: all 0.3s ease;
  width: 6.5cm;
 
}

.btn-reserve::before {
  top: 0;
}

.btn-reserve::after {
  bottom: 0;
}

.btn-reserve:hover::before {
  transform: scaleX(0.6);
}
.btn-reserve:hover::after {
  transform: scaleX(0.6);
}

.btn-outline:hover {
  background-color: #C6B251;    
  color: black;               
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

.luxury, .philosophy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10%;
  gap: 3rem;
  flex-wrap: wrap;
}

.luxury img, .philosophy img {
  width: 37%;
  border-radius: 188px;
}

.luxury .text, .philosophy .text {
  width: 50%;
  color: #FFFFFF;
}

.luxury h2, .philosophy h2 {
  color: #FCFCFC;
  margin-bottom: 2rem;
}

.philosophy a {
  display: inline-block;
  margin-top: 1rem;
  color: #d4af37;
  text-decoration: none;
}
