.auth-page {
  position: relative;
  min-height: 100vh;
  background: url('../assets/reservation.jpeg') center/cover no-repeat;
}

.auth-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: rgba(0,0,0,0.6);
  padding: rem;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 0.1rem;
  border: none;
  border-radius: 5px;
}

.auth-box button {
  width: 50%;
  padding: 0.2rem;
  background: #d4af37;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.auth-box .error {
  color: #e36262;
  margin-bottom: 0.5rem;
  text-align: center;
}

.auth-box p {
  margin-top: 1.0rem;
  font-size: 0.9rem;
}
.auth-box a {
  color: #c6b251;
  text-decoration: none;
}
