.navbar {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar a {
  color: #f5f5f5;
  text-decoration: none;
}

.navbar a:hover {
  color: #c6b251;
}
