.scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 100;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  animation: bounce 1.5s infinite;
  transition: color 0.3s ease;
  
}

.scroll-down:hover {
  color: #d4af37;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
